<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Editar aula</h1>
    <form th:action="@{/aulas/save}" th:object="${aula}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Escriba el nombre del aula" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="profesor">Profesor</label>
                    <input type="text" class="form-control" th:field="*{profesor}" id="profesor" placeholder="Escriba el profesor del aula">
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea class="form-control" th:field="*{descripcion}" id="descripcion" cols="12" rows="3"></textarea>
                </div>
            </div>
        </div>       
        <hr>
        <button type="submit" class="btn btn-primary">Guardar cambios</button> |
        <a th:href="@{/aulas}">Regresar</a>
    </form>
</div>