<table class="table table-striped">
    <thead>
        <tr>           
            <th>Telefono</th>
            <th><button type="submit" class="btn btn-primary" th:formaction="@{/alumnos/addtelefonos}" >+</button></th>
        </tr>      
    </thead>
    <tbody>
        <tr>
            <tr th:each="item , index: ${alumno.telefonos}">               
                <td style="display: none;">
                    <input type="hidden" class="form-control" th:value="${item.id}" th:name="'telefonos[' + ${index.index} + '].id'" id="id">
                </td>
                <td >
                    <input type="text" class="form-control" th:value="${item.telefono}" th:name="'telefonos[' + ${index.index} + '].telefono'" id="telefono">
                </td>
                <td>                    
                    <a  class="btn btn-outline-danger">Eliminar</a>
                </td>
            </tr>
        </tr>      
    </tbody>
</table>