<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Detalles del alumno</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2" >ID</dt>
            <dd class = "col-sm-10" th:text="${alumno.id}"></dd>

            <dt class = "col-sm-2">Nombre</dt>
            <dd class = "col-sm-10" th:text="${alumno.nombre}"></dd>

            <dt class = "col-sm-2">Apellido</dt>
            <dd class = "col-sm-10" th:text="${alumno.apellido}"></dd>
        </dl>
        <div class="row" th:with="action=${'details'}">            
            <th:block th:insert="~{/alumno/_telefonos.html}"></th:block>
        </div>
        <a th:href="@{/alumnos/edit/{id} (id = ${alumno.id}) }" class="btn btn-outline-info">Editar</a>
        <a th:href="@{/alumnos}" class="btn btn-secondary">Regresar</a>
    </div>
</div>